<div class="container">
    <div class="sizing">
        <button (click)="purgadores()">PURGADORES</button>
        <button (click)="redutoras()">VÁLVULAS REDUTORAS DE PRESSÃO</button>
        <button (click)="moduladora()">VÁVULAS DE CONTROLE/MODULADORA</button>
        <button (click)="seguranca()">VÁLVULA DE SEGURANÇA/ALÍVIO</button>
        <button (click)="filtro()">FILTROS</button>
        <button (click)="consumo()">CONSUMO DE VAPOR</button>
        <button (click)="bomba()">BOMBA DE CONDENSADO</button>
        <button (click)="flash()">TANQUE FLASH</button>
        <button (click)="vaporSaturado()">TABELA DE VAPOR SATURADO</button>
    </div>
</div>